<div class="row">
    <div class="col"></div>
    <div class="col"> <img src="../../../assets/nest1.jpg" alt="Description of the image" style="height: 80%; width: 100%;"></div>
    <div class="col"></div>
  </div>
 
   
<div class="row">
<div class="col" style="margin-left: 20px;">
  <H2  style="font-size:300%;">Description</H2>
  <p style="font-size:200%;" >We combine our deep domain expertise, 
      reusable digital platforms, 
      & complimentary services to deliver world class solutions that brings outstanding success for our customers</p>
 
</div>
<div class="col"></div>
</div>
  
  
      
  <div class="row">
    <div class="col"></div>
    <div class="col">
      
    </div>
    <div class="col">
      <app-carousel></app-carousel>
    </div>
  </div>
