
   
    <div class="row">
      <div class="col">        
        <img src="../../../assets/nest7.jpg" alt="aboutus" style="height: auto; width: auto;">
      </div>
      <div class="col">
        <h1 style="font-size: 400%;">who we are</h1>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col">
        <div style="margin-left: 25%;"><h2>MISSION</h2></div>
        <p>Be the global leader in providing end-to-end solutions in engineering and manufacturing for both hardware and software products in the high value added markets, satisfy our customers with innovative technology and superior quality, value and service.</p>
      </div>
      <div class="col" style="margin-left: 20%;">
        <img src="../../../assets/nest8.jpg" style="height: 80%;width: 100%;" alt="...">
      </div>
    </div>
    <BR> <br>
    <div class="row">
      <div class="col">
        <img src="../../../assets/nest9.jpg" style="height: 80%;width: 100%;" alt="...">
      </div>
      <div class="col">
        <div>
          <h2>VISION</h2> 
          <p>our vision is to redefine industry standards through innovation, integrity, and inclusivity. We strive to be pioneers in our field, leveraging cutting-edge technologies and sustainable practices to create solutions that enhance lives and shape a brighter future for generations to come. With a commitment to excellence and a passion for positive change, we aim to inspire, empower, and lead by example, driving progress and prosperity in every community we touch.</p>
 
        </div>
      </div>
    </div>
